
	
	<div class="login form-group row" id="login">
		<form class="formLogin" id="formLogin" method="post" action="index.php?ac=login">
			<input class="form-group formInput ftext form-control" name="username1" type="text" placeholder="Username" value="">
			<br>
			<input class="form-group formInput ftext form-control" name="password1" type="password" placeholder="Password" value="">
			<p style="color:red;">{{NACHRICHT}}</p>
	
			<input class="formInput" type="submit" value="Login">
		</form>
		You are withou an account? <a href="index.php?page=signup">Signup</a>
	</div>
	
