<h3>Signup</h3>
<div  class="login form-group row">
<form method="post" action="index.php?page=login&ac=save&class=stUser">
	<div >
		<input class="form-group formInput ftext form-control" type="text" name="username" placeholder="username">
	</div>
	<div class="form-group">
		<input class="form-group form-control  formInput ftext form-control" type="password" name="password" placeholder="password">
	</div>

	<input type="hidden" name="id" placeholder="">

	
	<div class="col-sm-6 ">
		<input class="" type="submit" value="Submit">
	</div>
	<div class="col-sm-6">
		<a href="index.php?page=login">Back to Login</a>
	</div>
	
</form>
</div>